<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="css/companies.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
	<title>Companies list</title>
</head>
<body>
	<section id='companies-list' class='companies-list'></section>
	<script src="/bower/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src='js/companies.js'></script>
</body>
</html>

<template id='company-item-template'>
	<article class='company'>
		<div class='name'></div>
		<div class='description'></div>
		<section class='contact-data'>
			<div class='email'></div>
			<div class='country'></div>
			<div class='url'></div>
		</section>
	</article>
</template>